 .preloader-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(79, 70, 229, 0.3);
   border-radius: 1rem;
   z-index: 50;
 }

 .preloader {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .preloader-dot {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #fff;
   margin: 0 5px;
   animation: preloader-animation 1.4s infinite ease-in-out both;
 }

 .preloader-dot:nth-child(1) {
   animation-delay: -0.32s;
 }

 .preloader-dot:nth-child(2) {
   animation-delay: -0.16s;
 }

 @keyframes preloader-animation {
   0%,
   80%,
   100% {
     transform: scale(0);
   }

   40% {
     transform: scale(1);
   }
 }